.cart{
	border-style: solid;
	border-color: black;
	background: black;
	color: white;
	line-height: 40px;
	text-align:  right;
	padding-right: 80px;
}
.brand{
	text-align: center;
}
footer{
	text-align: right;
	padding: 50px 70px 50px 50px;
}
.hinhtrai{
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	text-align: center;
}
.trai{
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	border: center;
}
.giua{
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	border: center;
}
.phai{
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	background-repeat: repeat-x;
}
.bang{
	word-spacing: 100px;
	border-top: solid;
	border-bottom: solid;
	padding-top: 20px;
	border-width: 1px;
	border-color: silver;
}
.button{
	background: black;
	color: white;
	border-radius: 100px;
	border: 120px;
}
